.anchorPane-background{
    -fx-background-image: url("../../img/login/timg.jpg");
}
.anchorPane-pane{
    -fx-background-color: #A9A9A9;
    -fx-opacity: 0.6;
    -fx-max-height: 50%;
    -fx-max-width: 100%;
}
.head{
    -fx-max-width: 60%;
    -fx-max-height: 40%;
}